<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
<div class="carousel-item active">
    <div class="hoverpage">
           <div class="details">
               <h1>Techkriti 6.0</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. </p>
               <button>Read More</button>
           </div>
           <div class="photo">
               <img src="assets/images/ChetanaDC.jpeg" alt="">
           </div>
       </div>
   <div class="backgroundimage">
       <img src="assets/images/ChetanaJC.svg" class="d-block w-100" alt="...">
   </div>
</div>
    </div>
    <div class="carousel-buttons">
        <div class="carousel-indicators1">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>
</div>